body{
	text-align: center;	
	background-image: url("https://cdn.pixabay.com/photo/2022/05/31/00/56/sky-7232494_1280.jpg");
}
#photo{
	
	
  border-radius: 8px;
  width: 300px;

}
.column {
  float: left;
  width: 32%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
img {
  border: 5px solid #555;
}
h2{
	font: Verdana;
	font-size: 55px;
	color: blue;
	
}
h1{
	font: Verdana;
	font-size:35px;
	color: #555;
}
	
div{
	font: Verdana;
	font-size:20px;
	color:#444;
	background-color: #666;
	
	text-align:center;
}
p{
	font: Verdana;
	font-size: 30px;
	color:#666;
	
	
}
#special{
		font:verdana;
		font-size:30px;
		color: lilac;
		border: 6px solid white;
		width: 100%;
		text-transform:bold;
}
#simg{
	 align:center;
	width: 400px;
	
}
a{
	border:2px solid blue;
	font-size:25;
	background-color:white;
	font: Impact;
}
#textlist{
	font: Verdana;
	font-size: 30px;
	color:black;
	text-align:rtl;
}
ul{
	display: table;
	margin: 0 auto;
	
}